{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div id="container">
  <div class="column-6">
    <div id="left-wrapper">
      <img src="{% static 'images/hiago2.jpg' %}" id="profile-pic">
      <div id="left-wrapper-header">
        
      </div>
      <div style="clear:left"></div>
      <hr>
      
      <img id="pix"  src="https://miro.medium.com/v2/resize:fit:640/0*zPG9dqz508rmRR70." alt="">
      
      
      <h5>Chave pix:</h5>
      <p >12365455866860</p>
      <hr>
      
      
      
    </div>
    
  </div>

  <div class="column-6">
    <div id="right-wrapper">
      

      <h3>Ajude um atleta em preparação fazendo uma doação...</h3>

      <h4>Acompanhe a saga e receba dicas no meu instagram  --</h4>
      <hr>

      <img class="peso" src="https://cdn-icons-png.flaticon.com/128/9992/9992408.png" >
      <img class="peso2" src="https://cdn-icons-png.flaticon.com/128/10037/10037932.png" >
      <img class="peso3" src="https://cdn-icons-png.flaticon.com/128/10146/10146342.png" >

    </div>
  </div>
</div>
{% endblock content %}